<template name="during_trip">
<div class="wrapper">
  <div class="title">
    Trip in Progress
  </div>
  <div style="padding: 3%">
    <div class="row">
      <a href="/new_haul">
        <button class="button">Add New Haul</button>
      </a>
    </div>

    <div class="row">
      {{#each catches}}
        {{trip}}
      {{/each}}
    </div>

    <div class="row">
      <a href="/after_trip">
        <button id="stopTrip" class="button">Stop Trip</button>
      </a>
    </div>
  </div>
</div>
</template>
