* {margin: 0; padding: 0;}

div {
  margin: 0px;
}

ul {
  list-style-type: none;
  width: 100%;
}

.trip-title {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li.trip-item img {
  float: left;
  width: 100px;
  margin: 0 15px 0 0;
}

li.trip-item p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 0px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}