<template name="main">
<div class="wrapper">
  <div class="title">
    iFish
  </div>

  <div class="button">
    <a href="/profile">
      <button>Profile</button>
    </a>
  </div>

  <div class="button">
    <a href="/during_trip">
      <button>Start Trip</button>
    </a>
  </div>

  <div class="button">
    <a href="/view_trips">
      <button>View Past Trips</button>
    </a>
  </div>

  <div class="button">
    <a href="/sold_fish">
      <button>I Sold Some Fish!</button>
    </a>
  </div>
</div>
</template>
