<template name="main">
  iFish
  <form>
    <fieldset class="form-group">
      <label for="fishSpecies">Species</label>
      <input type="text" class="form-control" id="fishSpecies" placeholder="Species">
    </fieldset>
    <fieldset class="form-group">
      <label for="fishSex">Sex</label>
      <select class="form-control" id="fishSex">
        <option>Male</option>
        <option>Female</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <label for="fishLength">Length/Breadth</label>
      <input type="number" class="form-control" id="fishLength" placeholder="Length">
    </fieldset>
    <fieldset class="form-group">
      <label for="catchLatitude">Latitude</label>
      <input type="number" class="form-control" id="catchLatitude" placeholder="Latitude">
    </fieldset>
    <fieldset class="form-group">
      <label for="catchLongitude">Longitude</label>
      <input type="number" class="form-control" id="catchLongitude" placeholder="Longitude">
    </fieldset>
    <fieldset class="form-group">
      <label for="catchDate">Date</label>
      <input type="number" class="form-control" id="catchDate" placeholder="Date">
    </fieldset>
    <fieldset class="form-group">
      <label for="catchTime">Time</label>
      <input type="number" class="form-control" id="catchTime" placeholder="Time">
    </fieldset>
    <fieldset class="form-group">
      <label for="fishWeight">Weight</label>
      <input type="number" class="form-control" id="fishWeight" placeholder="Weight">
    </fieldset>
    <fieldset class="form-group">
      <label for="fishSize">Size</label>
      <select class="form-control" id="fishSize">
        <option>Small</option>
        <option>Medium</option>
        <option>Large</option>
        <option>Extra Large</option>
        <option>Huuuuuuge</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <label for="fishNotes">Notes</label>
      <textarea class="form-control" id="fishNotes" rows="3"></textarea>
    </fieldset>
    <fieldset class="form-group">
      <label for="fishUpload">File upload</label>
      <input type="file" class="form-control-file" id="fishUpload">
      <small class="text-muted">If you already took a picture of the fish, you can upload it here.</small>
    </fieldset>
    <fieldset class="form-group">
      <label for="colorOptions">Color</label>
      <select class="form-control" id="colorOptions">
        <option>Red</option>
        <option>Blue</option>
        <option>Orange</option>
      </select>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</template>
