<template name="new_haul">
  <div class ="backButton">
    <a href="/during_trip">Back</a>
  </div>
  <div class="title">
    New Haul
  </div>
  {{#autoForm collection="Hauls" id="insertHaulForm" type="insert"}}
    <fieldset style="color: white; margin-top: 50px">
      {{> afQuickField name='species'}}
      {{> afQuickField name='weight'}}
      {{> afQuickField name='count'}}
      {{> afQuickField name='location'}}
      <div style='color: black'>
        {{> afQuickField name='gear'}}
      </div>
      {{> afQuickField name='weather'}}
      {{> afQuickField name='surfaceTemp'}}
      {{> afQuickField name='ticketType'}}
      {{> afQuickField name='ticketNumber'}}

    </fieldset>
    <button type="submit" class="btn btn-primary haulSubmit">Submit</button>
  {{/autoForm}}
</template>
